---
import DotPattern from '../components/DotPattern.astro';
import BaseHead from '../components/BaseHead.astro';
import FullHeader from '../components/FullHeader.astro';
import MinimalHeader from '../components/MinimalHeader.astro';
import { SITE_DESCRIPTION, SITE_NAME, SITE_TITLE } from '../consts';

const {
  header = 'full',
  title: pageTitle,
  piped = false,
  description = SITE_DESCRIPTION,
  image = '/img/steppe.jpg',
  author = SITE_NAME,
} = Astro.props;

const title = piped ? `${pageTitle} | ${SITE_TITLE}` : pageTitle || SITE_TITLE;
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={title} description={description} image={image} author={author} />
    <slot name="head" />
  </head>
  <body>
    <div class="relative h-full">
      <DotPattern />
      <div class="p-8 relative max-w-screen-xl xs:p-24 print:xs:p-0">
        {header === 'full' ? <FullHeader /> : header === "minimal" ? <MinimalHeader /> : <></>}
        <main>
          <slot />
        </main>
      </div>
    </div>
  </body>
</html>
